@model IEnumerable<MontanhasDeLivros.Models.SalesRecord>

@{
    ViewData["Title"] = "Index";
}

<h2>Vendas</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Cadastrar Nova Venda</a>
</p>
<table class="table">
    <thead>
        <tr class="btn-default">
            <th>
                Id
            </th>

            <th>
                Data
            </th>

            <th>
                Preço
            </th>

            <th>
                Livro
            </th>

            <th>
                Quantidade
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>