@model MontanhasDeLivros.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Você gostaria de deletar esse livro ?</h3>
<div>
    <h4>Livros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Preço:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Descrição:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Autor:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            Editora:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt>
            Quantidade:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountBook)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para à Lista</a>
    </form>
</div>
