@model IEnumerable<MontanhasDeLivros.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Livros</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Cadastrar Livro Novo</a>
</p>
<table class="table">
    <thead>
        <tr class="btn-default">
            <th>
               Título
            </th>
           
            <th>
                Preço
            </th>
            
            <th>
                Descrição
            </th>
            
            <th>
                Autor
            </th>
            
            <th>
                Editora
            </th>
            
            <th>
                Quantidade
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AmountBook)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
